* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}